<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>
      Application<br />
      Login Page
    </h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-8 col-sm-12">
    <div class="login-form">
      <div class="row">
        <h4 style="margin-left: 40px">
          (Click The Button to LogIn With Google)
        </h4>
      </div>
      <button class="btn btn-black" (click)="signInGoogle()">
        Google SignIn <i class="fab fa-google"></i>
      </button>
    </div>
  </div>
</div>
