<body>
  <br />
  <div class="row" style="margin-left: 30px; margin-top: 30px">
    <div class="col-3" style="margin-right: 100px">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          [class.active]="!categoryB"
          routerLink="/book"
          >All Categories</a
        >
        <a
          *ngFor="let category of bookMetadata?.category?.fieldDataPool?.list"
          class="list-group-item list-group-item-action"
          routerLink="/book"
          [queryParams]="{ categoryB: category?.id }"
          [class.active]="categoryB === category?.id"
        >
          {{ category?.label }}
        </a>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="search-bar">
          <input
            class="form-control"
            type="text"
            name="search"
            [(ngModel)]="searchText"
            autocomplete="off"
            placeholder="Search your book..."
          />
        </div>
      </div>
      <div class="row">
        <mat-card
          class="example-card"
          *ngFor="
            let dataB of filteredCategory | filter: searchText;
            let i = index
          "
        >
          <div class="col">
            <figure>
              <img mat-card-image [src]="dataB.image" />
              <figcaption>
                <a
                  mat-button
                  [routerLink]="['/book/', dataB.id]"
                  (click)="openDialog(dataB.id)"
                  class="btn btn-primary btn-block"
                >
                  View More
                </a>
              </figcaption>
            </figure>

            <mat-card-content>
              <i
                ><b> Title : "{{ dataB.title }}" </b></i
              >
              <h5 class="card-title">
                <h4>
                  <b><u>Author :</u></b>
                </h4>
                "{{ dataB.author }}"
              </h5>
              <p class="card-text">
                {{ dataB.price | currency: "USD":true }}
              </p>
            </mat-card-content>
          </div>

          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </mat-card>
      </div>
    </div>
  </div>
  <!-- <div class="footer">
    <mat-paginator
      [length]="length"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
    >
    </mat-paginator>
  </div> -->
</body>
