body {
  background: url(https://myfcpl.org/wp-content/uploads/2019/10/photo-1507842217343-583bb7270b66.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
  height: auto;
  font-family: "Numans", sans-serif;
}
.search-bar {
  display: flex;
  max-width: 300px;
  padding-bottom: 50px;

}
.row{
  margin-right: 0px;
}
.cardB {
  height: 300px;
  width: 250px;
  margin-bottom: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: black;
}
.example-card {
  max-width: 250px;
  max-height: 430px;
  margin-right: 20px;
  margin-bottom: 20px;
}
