<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<div class="container">
  <div class="row">
    <br />
    <br />
    <button
      style="margin-top: 40px"
      routerLink="/admin/books/new"
      class="btn btn-primary"
    >
      New Book
    </button>
  </div>
  <br />
  <div class="row" style="margin-top: 30px; width: 100%">
    <div class="col-md-12">
      <table
        style="width: 100% auto"
        class="table table-striped table-bordered table-sm row-border hover"
        datatable
        [dtTrigger]="dtTrigger"
        [dtOptions]="dtOptions"
      >
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>PublishedDate</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of data">
            <td>{{ group.title }}</td>
            <td>{{ group.author }}</td>
            <td>
              <p style="width: 100%; height: 120px; overflow: hidden">
                {{ group.description }}
              </p>
            </td>
            <td>{{ group.publishedDate }}</td>
            <td>{{ group.category }}</td>
            <td>{{ group.price }}</td>
            <td>
              <p style="width: 100px; overflow: hidden">{{ group.image }}</p>
            </td>
            <td>
              <button
                style="margin-bottom: 5px"
                class="btn btn-success"
                [routerLink]="['/admin/books/', group.id]"
              >
                Edit
              </button>
              <a class="btn btn-danger" (click)="onDelete(group.id)"> Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
