body {
  background: url(https://media.timeout.com/images/105628370/1024/576/image.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
  height: 90%;
  font-family: "Numans", sans-serif;
}
.mat-form-field {
  margin-top: 16px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  margin-top: 55px;

  background-color: #252b34;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-height: 400px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}
.main {
  width: 780px;
  height: 350px;
  float: right;
  margin-top: 50px;
  margin-right: 30px;
}
.sidenav {
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.login-form {
  margin-top: 50%;
  margin-left: 50px;
}

.register-form {
  margin-top: 20%;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}
