<div class="container">
  <div class="row">
    <br />
    <br />
    <button
      style="margin-top: 40px"
      routerLink="/admin/books/new"
      class="btn btn-primary"
    >
      New Book
    </button>

    <!-- <input style="margin-left:350px"
         (keyup)="filterProduct"
         
          name="searching "
               id="searching"
               #query
               (keyup)="filter(query.value)"
               placeholder="...Searching"> -->
  </div>
  <br />
  <div class="row" style="margin-top: 30px">
    <div class="col-md-12">
      <table
        class="table table-striped table-bordered table-sm row-border hover"
        datatable
        [dtOptions]="dtOptions"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of data">
            <td>{{ group.name }}</td>
            <td>{{ group.email }}</td>
            <td>{{ group.website }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br />
